:root{
    --main-background: #212121;
    --main-text-color: #aaaaaa;
    --main-card-bg-color: #ff2109; /*TODO anpassen*/
    --main-border-color: #414141; /*TODO anpassen*/
    --main-link-color: lightblue;
    --main-card-background: #212121; /*TODO anpassen*/
}

@font-face {
    font-family: "OpenSans";
    src: url(fonts/static/OpenSans-SemiBold.ttf)
}

body{
    background-color: var(--main-background);
    color: var(--main-text-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a{
    color: var(--main-link-color);
    text-decoration: none;
}

h1{
    font-size: 1.75em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.25em;
}

header>nav{
    display: flex;
    gap: 20px;
}

header>nav>a:hover{
    background-image: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: glowing 20s linear infinite;
    transition: opacity .5s ease-in-out;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: 600;
}

.form-container{
    width: 400px;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}

.form-container button:active{
    scale: 0.95;
}

.form-container .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label{
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input{
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
}

.form-container .form-group textarea{
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
}

.form-container .form-group input::placeholder{
    opacity: 0.5;
}

.form-container .form-group input:focus{
    outline: none;
    border-color: #e81cff;
}

.form-container .form-group textarea:focus{
    outline: none;
    border-color: #e81cff;
}

.section1{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-left: 5%;
}

.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 50%;
    position: relative;
}

#image_me {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ccc;
    background-image: url('images/me.webp');
    background-size: cover;
    position: absolute;
}


.orbit {
    position: absolute;
    width: 400px;
    height: 400px;
    animation: rotate 20s linear infinite;
}

.tech {
    position: absolute;
    width: 50px;
    height: 50px;
}

.icon {
    width: 100%;
    height: 100%;
    animation: counter-rotate 20s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes counter-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

#tech1 {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tech2 {
    top: 18%;
    left: 82%;
    transform: translate(-50%, -50%);
}

#tech3 {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

#tech4 {
    top: 82%;
    left: 82%;
    transform: translate(-50%, -50%);
}

#tech5 {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tech6 {
    top: 82%;
    left: 18%;
    transform: translate(-50%, -50%);
}

#tech7 {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

#tech8 {
    top: 18%;
    left: 18%;
    transform: translate(-50%, -50%);
}

#tech9 {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

textarea{
    overflow: hidden;
    resize: none;
    font-weight: lighter;
}

button{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(17, 17, 17);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: larger;
}

button:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active{
    color: #000
}

button:active:after{
    background: transparent;
}

button:hover:before{
    opacity: 1;
}

button:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.karten{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.techtag{
    background-color: var(--main-background);
    border: 1px solid var(--main-border-color);
}